<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>


    <h1 class="title"><%=title%></h1>
    <div class="new-message-btn"><a href="/new"> + new  message</a></div>

    <div  class="message-container">
      <% messages.forEach((message)=>{ %>
         <div class="message">
            <p><%=message.user %></p>
            <p><%=message.text %></p>
            <p><%=message.added %></p>
            <button> <a href="message/<%=message.id%>">open</a></button>
         </div>

       <% }) %>
    </div>
      
</body>
</html>